fastapi
uvicorn
prometheus-fastapi-instrumentator
sentence-transformers
transformers
torch
chromadb
guardrails-ai
rouge-score
scikit-learn
gunicorn
pydantic
python-multipart
rich
typer
openai
jsonschema
mlflow
python-dotenv
sqlalchemy
passlib==1.7.4
bcrypt==3.2.2
python-multipart
prometheus-client
fastapi
uvicorn
python-jose






